    @media (max-width: 828px) { 
      .logo { max-width: 750px; }
    }

    @media (min-width: 829px) and (max-width: 1080px) { 
      .logo { max-width: 900px; }
    }

    @media (min-width: 1081px) { 
      .logo { max-width: 1000px; }
    }