@media screen and (min-width: 480px) and (max-width: 960px) {
    #header {
        display: none;
    }
}

@media (max-width: 768px) {
  .meu-cabecalho {
    flex-direction: column; 
    gap: 20px; 
  }
}