
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header, nav, main, footer {
    padding: 20px;
}

header {
    background: #004080;
    color: white;
}

nav {
    background: #0066cc;
    justify-content: center;
}

nav a:hover {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    color: #263a58;
}

.banner {
    background: gray;
    height: 200px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 15px 15px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: white;
    text-align: center;
}

.titulodiv{
    color: #004080;
}

.estrelas{
    color: #ffcc00;
}