
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header, nav, main, footer {
    padding: 20px;
}

.cabecalho {
    background: #004080;
    color: white;
    text-align: center;
    font-size:24px
}

nav {
    background: #236fbb;
    justify-content: center;
    text-align: center;
}

nav a:hover {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    color: #263a58;
}

.banner {
    background-image: url('bannerfacul.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

section {
    margin: 15px 15px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: white;
    text-align: center;
}

.titulodiv{
    color: #004080;
}

.estrelas{
    color:gold;
}

.depoimento{
    background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.depoimentos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

#campus
{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#logo{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 30px;
    top:30px;
}
